In [1]:
import pandas as pd

In [2]:
# Cria um dicionário com autores, preços e titulos
dictionary = {'Autores': ['Rick Riordan', 'JK Rowling', 'Andrea Del Fuego', 'JK Rowling'],
              'Titulos': ['O Ladrão de Raios', 'A Pedra Filosofal', 'A Sociedade da Caveira de Cristal', 'O Prisioneiro de Azkaban'],
              'Preços': [36.65, 37.74, 39.90, 44.97]}

In [3]:
## DataFrame == Tabela

df = pd.DataFrame(dictionary)

In [4]:
df

            Autores                            Titulos  Preços
0      Rick Riordan                  O Ladrão de Raios   36.65
1        JK Rowling                  A Pedra Filosofal   37.74
2  Andrea Del Fuego  A Sociedade da Caveira de Cristal   39.90
3        JK Rowling           O Prisioneiro de Azkaban   44.97

In [5]:
df['Autores'][1]

'JK Rowling'

In [7]:
df['Preços']

0    36.65
1    37.74
2    39.90
3    44.97
Name: Preços, dtype: float64

In [9]:
mascara = (df['Autores'] == 'JK Rowling')

In [10]:
df[mascara]

      Autores                   Titulos  Preços
1  JK Rowling         A Pedra Filosofal   37.74
3  JK Rowling  O Prisioneiro de Azkaban   44.97

In [14]:
df = pd.concat([df, pd.DataFrame([{'Autores': 'JK Rowling', 'Titulos': 'O Enigma do Principe', 'Preços': 57.82}])], ignore_index=True)

In [15]:
df

            Autores                            Titulos  Preços
0      Rick Riordan                  O Ladrão de Raios   36.65
1        JK Rowling                  A Pedra Filosofal   37.74
2  Andrea Del Fuego  A Sociedade da Caveira de Cristal   39.90
3        JK Rowling           O Prisioneiro de Azkaban   44.97
4        JK Rowling               O Enigma do Principe   57.82

In [16]:
mascara_correcao = df['Titulos'] == 'A Sociedade da Caveira de Cristal'

In [19]:
df.loc[mascara_correcao, 'Titulos'] = 'A Pediatra'

In [20]:
df

            Autores                   Titulos  Preços
0      Rick Riordan         O Ladrão de Raios   36.65
1        JK Rowling         A Pedra Filosofal   37.74
2  Andrea Del Fuego                A Pediatra   39.90
3        JK Rowling  O Prisioneiro de Azkaban   44.97
4        JK Rowling      O Enigma do Principe   57.82